body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include cssVars(background, --tertiary-color);
  
  h1 {
    @include cssVars(color, --primary-color);
    @include cssVars(padding, --padded);
    @include cssVars(border-bottom, --border);
    text-align: center;
  }
  
  p {
    margin: 0;
    @include cssVars(color, --secondary-color);
  }
}
