*,
*:after,
*:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}